*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn{
    width: 200px;
    height: 50px;
    background-color: cadetblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    border: 2px solid cadetblue;
}

.btn::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: 2px solid cadetblue;
    transform:  translateX(20px) translateY(20px);
    transition: .5s;
    border-radius: 4px;
}

.btn:hover{
    background-color: #fff;
    border: 2px solid cadetblue;
    color: #000;
}

.btn:hover::after{
    transform:  translateX(0) translateY(0);
}